#CV{
    /* container */
    display: flex;
}

#firstFrame{
    background-color: #212121;
}

#midFrame{
    background: linear-gradient(to right, #212121, #A01111);
}

#lastFrame{
    background-color: #A01111;
}

#firsFrame, #lastFrame{
    width: 25%;
}


#selfie{
    width: 136px;
    height: 165px;
    float: left;;
}

#sections{
    list-style: none;
}

#sections li{
    position: relative; /* Necessari per posicionar el pseudo-element */
    padding-left: 35px; /* Espai a l'esquerra per al cercle */
    margin-bottom: 10px; /* Espai entre els elements de la llista */
}

#sections li::before{
    content: ''; /* Crea un contingut buit */
    position: absolute; /* Posicionament absolut */
    left: 0; /* A l'esquerra */
    top: 50%; /* Centrat verticalment */
    transform: translateY(-50%); /* Centrat verticalment */
    width: 15px; /* Amplada del cercle */
    height: 15px; /* Altura del cercle */
    background-color: black; /* Color del cercle (fons) */
    border: 4px solid white; /* Borde gruixut */
    border-radius: 50%; /*Fa que sigui un cercle*/
}

.socialMedia{
    text-align: center;
    margin: 20px 0;
    /* display: flex;
    justify-content: space-between; */
}

.socialMedia div{
    display: inline-block;
    margin: 0 10px;
}

.socialMedia img{
    width: 32px;
}

.projects img{
    width: 72px;
}
